
.App{
  height: 100vh;
}
.Sider{
  background-color: #ffffff;
}
.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.Logo{
  height: 40px;
  margin: 16px 24px 16px 0px;
  /* background: rgba(255, 255, 255, 0.3); */
}
